@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

// 全局去除滚动条，用于去除table内滚动条样式 未兼容：Chrome有效
::-webkit-scrollbar {
    width: 10px;
    /*滚动条宽度*/
    height: 10px;
    /*滚动条高度*/
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d8d4d4;
}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, a, img, button {
    margin: 0;
    padding: 0;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}
s, i, em{
    font-style: normal;
    text-decoration: none;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  // color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

/* 封装flex */
.u-f,.u-f-ac,.u-f-ajc,.u-f-jsb,.u-f-jsa{
	display: flex;
}
/* 水平居两边 */
.u-f-jb{
	justify-content: space-between;
}
/* 水平均匀分布 */
.u-f-ja{
	justify-content: space-around;
}
.u-f-ac,.u-f-ajc,.u-f-jsb,.u-f-jsa{
	align-items: center;
}
/* 水平居中 垂直居中*/
.u-f-ajc{
	justify-content: center;
}
/* 水平居两边 垂直居中*/
.u-f-jsb{
	justify-content: space-between;
}
/* 水平平均放置 垂直居中*/
.u-f-jsa{
	justify-content: space-around;
}

/* 位置居中 */
.pos-center{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
/* 文字换行 中英文都可以*/
.txt-linebreak{
	white-space:normal;
	word-break:break-all;
	word-wrap:break-word;
}
/* 文字单行省略  文字过多时使用... */
.txt-cut{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* 浏览器侧面导航栏的封装  在会出现滚动条的地方添加scroll-style*/
.scroll-style::-webkit-scrollbar {
	width: 10px !important;
	background-color: transparent;
}

.scroll-style::-webkit-scrollbar-thumb {
	border-radius: 5px !important;
	box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
	background-color: #e9e8e8;
}

.scroll-style::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px transparent;
	-webkit-box-shadow: inset 0 0 6px transparent;
	border-radius: 2px;
	background-color: transparent;
}

// main-container 模板样式
.app-container {
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px;
  min-height: 100%;
}
// 全局通用dialog样式
.f-dialog {
    .el-dialog__headerbtn {
        top: 16px;
        font-size: 23px;
    }
    .el-dialog {
        // min-width: 800px;
        border-radius: 5px;
    }

    .el-dialog__body {
        padding: 20px;
        box-sizing: border-box;
        // min-height: 400px;
    }
    .el-dialog__header {
        border-bottom: 1px solid #ddd;
        padding-left: 10px;
        span {
            padding-left: 10px;
            border-left: 5px solid #78aef9;
        }
    }
    .el-select{
      width: 100%;
    }
    .el-date-editor.el-input{
      width: 100%;
    }
    .el-button{
       min-width: 70px;
        border: none !important;
        border-radius: 100px;
        // color: #3383ff !important;
        padding: 9px 15px;
    }
    //关闭按钮样式重写
    .close-btn {
        color: $themeColor !important;
        padding: 9px 15px;
        background: #d8e7fc !important;
    }
    .close-btn:active {
        background: #ccdffa !important;
    }
    .el-dialog__footer{
      text-align: center;
    }
  }
// 通用Form表单查询样式
.f-query {
  .btns-l,
  .btns {
    float: right;

    .el-button {
      min-width: 70px;
      border: none !important;
      border-radius: 100px;
    }

    //重置按钮
    .reset-btn {
      border: none !important;
      border-radius: 100px;
      color: $themeColor;
      // padding: 9px 15px;
      background: $themeTransparentColor;
    }

    .reset-btn:active {
      background: $themeTransparentColor;
    }

    //查询按钮
    .query-btn,
    //导出按钮
    .add-btn {
      border-radius: 100px;
      border: none !important;
    }

    .add-btn {
      background: #f29b76 !important;
    }

    .query-btn:active {
      background: #409EFF !important;
    }

    //导出按钮
    .add-btn:active {
      background: #f29b76 !important;
    }
  }
  .btns-l{
    float: none;
  }

  .el-form-item__label {
    padding: 0px 3px;
  }

  .el-input {
    width: 140px;
    font-size: 12px;
  }
  // form-item内容样式
  .el-form-item__content {
    margin-right: 5px;
    line-height: 40px;
    // line-height: 32px;
  }
  //时间选择器样式修改
  .el-date-editor {
    min-width: 200px;
    .el-input__inner {
      height: 32px;
      line-height: 32px;
    }
    .el-range-separator,
    .el-range__icon,
    .el-range__close-icon{
      line-height: 24px;
    }
  }
  .el-range-editor.el-input__inner{
    height: 32px;
    // line-height: 32px;
  }
  .el-select{
     .el-input__inner {
      height: 32px;
      line-height: 32px;
    }
  }
  .vue-treeselect{
    // display:inline-block;
    width: 200px;
    height: 32px;
    // line-height: 32px;
    .vue-treeselect__multi-value-item{
      background-color: #d6d3d396;
      color: #000;
      line-height: 17px;
    }
    .vue-treeselect__value-container{
      line-height: 21px;
    }
  }
    .vue-treeselect--has-value .vue-treeselect__multi-value{
      margin-bottom: 0px;
    }
}
