// 样式配置
@import "./variables.scss";

// elementui样式配置
@import "./element-variables.scss";

// 侧边栏样式
@import "./sidebar.scss";

// 过渡效果
@import "./transition.scss";

// 表格页样式
@import "./table.scss";

// 全局去除滚动条，用于去除table内滚动条样式 未兼容：Chrome有效
::-webkit-scrollbar {
    width: 8px;
    /*滚动条宽度*/
    height: 8px;
    /*滚动条高度*/
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #fff;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba($themeColor, 0.2);
}

.noselect {
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    /*早期浏览器*/
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

s,
i,
em {
    font-style: normal;
    text-decoration: none;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    // color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

// 位置居中
.pos-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
// 文字换行 中英文都可以
.txt-linebreak {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}
// 文字单行省略  文字过多时使用
.txt-cut {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
// 浏览器侧面导航栏的封装  在会出现滚动条的地方添加scroll-style
.scroll-style::-webkit-scrollbar {
    width: 10px !important;
    background-color: transparent;
}

.scroll-style::-webkit-scrollbar-thumb {
    border-radius: 5px !important;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: #e9e8e8;
}

.scroll-style::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px transparent;
    -webkit-box-shadow: inset 0 0 6px transparent;
    border-radius: 2px;
    background-color: transparent;
}

// 去掉搜狗浏览器、safari浏览器密码软盘
input::-webkit-input-safebox-button,
input::-webkit-credentials-auto-fill-button,
input:focus::-webkit-contacts-auto-fill-button {
    display: none !important;
    visibility: hidden !important;
    pointer-events: none !important;
    position: absolute !important;
    right: 0 !important;
}

// main-container 模板样式
.app-container {
    background-color: #fff;
    box-sizing: border-box;
    padding: 15px;
    min-height: 100%;
}
// 全局通用dialog样式
.f-dialog {
    .el-dialog__headerbtn {
        top: 16px !important;
        font-size: 23px !important;
    }
    .el-dialog {
        margin: 0px;
        // min-width: 800px !important;
        border-radius: 5px !important;
    }

    .el-dialog__body {
        padding: 20px !important;
        box-sizing: border-box !important;
        // min-height: 400px !important;
    }
    .el-dialog__header {
        border-bottom: 1px solid #f0f0f0 !important;
        // padding-left: 10px !important;
        text-align: center !important;
        padding: 15px !important;
        span {
            // padding-left: 10px !important;
            // border-left: 5px solid $themeColor !important;
        }
    }
    .el-select {
        width: 100% !important;
    }
    .el-date-editor.el-input {
        width: 100% !important;
    }
    .el-button {
        min-width: 70px !important;
        // border-radius: 100px !important;
        padding: 9px 15px !important;
    }
    .el-dialog__footer {
        border-top: 1px solid #f0f0f0 !important;
        text-align: right !important;
        padding: 15px !important;
    }
}
.el-message-box__btns {
    text-align: right !important;
    .el-button {
        min-width: 70px !important;
        // border-radius: 100px !important;
        padding: 9px 15px !important;
    }
}
.el-pagination {
    text-align: right !important;
    margin-top: 15px !important;
}
.el-popover {
    box-sizing: border-box !important;
}
.el-breadcrumb__inner.is-link:hover,
.el-breadcrumb__inner a:hover {
    color: $navTextColor !important;
    padding-bottom: 2px !important;
    border-bottom: 1px solid $navTextColor !important;
}
.el-breadcrumb__separator {
    color: $navTextColor !important;
}
.el-switch.is-checked {
    .el-switch__core {
        border-color: $themeColor !important;
        background-color: $themeColor !important;
    }
}
.el-button {
    border-radius: $buttonBorderRadius;
}
