/**
  该文件主要用来配置主题颜色，该文件设置的颜色变量可以全局使用 无须引用该文件
  全局注册方法在vue.config.js的css部分
  想要整体修改主题颜色 还需要在element-variables.scss 做调整
**/
// 主题蓝
$themeColor:rgb(0,133,208);
//主题透明层色 重置按钮颜色
$themeTransparentColor:rgba(0,133,208,0.1);
//header的字体颜色
$headerColor:#fff;
/************************ 侧面导航栏的配置 *****************/
// 侧面菜单栏宽度
$sideBarWidth: 210px;
// 菜单的字体颜色
$menuText:#333333;
// 菜单被点击后（显示菜单）时字体颜色
$menuActiveText:#ffffff;
// 子菜单激活后父菜单字体颜色 一般同菜单的字体颜色
$subMenuActiveText:#333333; 
// 菜单的背景颜色
$menuBg:#ffffff;
// 菜单激活背景色，一般情况和主题色一样
$menuColor:$themeColor;
// hover背景颜色通用变量，一般情况下会淡一点 
$menuHoverColor:rgba(0,133,208,.8);
// 一级菜单的hover（鼠标放在上面）的颜色
$menuHover:$menuHoverColor;
// 子菜单背景颜色（目前更改不生效，必要时需要进文件修改），默认同菜单背景颜色一样
$subMenuBg:$menuBg;
// 子菜单 hover 颜色
$subMenuHover:$menuHoverColor;

//顶部导航栏的颜色控制
$navBackgroudColor:$themeColor;
// 顶部导航栏的高度控制
$navHeight:60px;
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  navBackgroudColor:$navBackgroudColor;
}
